* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/*Classes Auxiliares*/
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}

.clear {clear:both;}

:root {
	--bege: #b7aea5;
	--laranja: #f77014;
	--laranja-escuro: #e33c08;
	--cinza: #433d3d;
	--preto: #221d21;

	--azul: #52aaa7;
}

.w100 {
	width: 100%;
	float: left;
}

.w60 {
	width: 60%;
	float: left;
}

.w50 {
	width: 50%;
	float: left;
}

.w40 {
	width: 40%;
	float: left;
}

.w33 {
	width: 33.3%;
	float: left;
}

.center {
	text-align: center;
}

/*Classes do Site*/

header {
	padding: 8px 0;
}

.logo {
	float: left;
}

.logo h2 {
	font-weight: normal;
	font-size: 23px;
}

.logo a {
	color: black;
	text-decoration: none;
}

nav.menu-mobile {
	display: none;
	float: right;
}

nav.menu-mobile h2 {
	cursor: pointer;
}

nav.menu-mobile ul {
	display: none;
	width: 100%;
	background: white;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 999;
	text-align: center;
}

nav.menu-mobile li {
	padding: 8px 0;
	border-bottom: 1px solid black;
}

nav.menu-mobile li.selected {
	background: rgb(225, 225, 225);
}

nav.menu-mobile a {
	display: block;
	color: black;
	text-decoration: none;
}

nav.menu-desktop {
	float: right;
}

nav.menu-desktop li.selected {
	font-weight: 600;
	text-decoration: overline;
}

nav.menu-desktop ul {
	position: relative;
	top: 8px;
}

nav.menu-desktop li {
	display: inline-block;
	font-weight: lighter;
	padding: 0 10px;
}

nav.menu-desktop a {
	color: black;
	text-decoration: none;
}

nav.menu-desktop a:hover {
	text-decoration: underline;
	color: var(--bege);
}

nav.menu-desktop li.selected:hover {
	color: var(--bege);
}

/*section main*/

section.main-bg {
	position: relative;
	width: 100%;
	padding: 100px 0 200px 0;
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

section.main-bg > .container {
	position: relative;
	z-index: 2;
}

.overlay {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
}

section.main-bg h2 {
	color: var(--azul);
	font-size: 40px;
	font-weight: normal;
}

section.main-bg p {
	text-align: left;
	color: white;
	font-size: 17px;
	margin-top: 15px;
}

/*Differenciais*/

section.diferenciais {
	padding: 30px 0;
	text-align: center;

}

.line-text {
	color: var(--azul);
	font-weight: normal;
	display: inline-block;
	position: relative;
}

.line-text div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 3px;
	background-color: var(--azul);
	border-radius: 20px;
}

.line-text h2 {
	color: var(--azul);
	font-weight: normal;
	font-size: 27px;
}

.icones-diferenciais {
	margin-top: 35px;
}

.box-icone-single {
	float: left;
	width: 33.3%;
	margin-bottom: 20px;
	padding: 0 20px;
}

.box-icone-single h2 {
	color: #8a6b62;
	font-size: 40px;
}

.box-icone-single p {
	text-align: left;
	color: #646464;
	font-weight: lighter;
	font-size: 16px;
}

section.sobre-equipe {
	padding: 30px 0;
	background: rgb(225, 225, 225);
}

section.sobre-equipe > .container {
	display: flex;
	flex-wrap: wrap;
}

.equipe-container {
	width: 50%;
}

.sobre-container {
	width: 50%;
}

.sobre-container p {
	padding: 10px 20px 10px 0;
	color: var(--preto);
}

.avatar-box {
	margin-top: 15px;
}

.img-avatar {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-size: cover;
	background-position: 50% 30%;
	background-color: gray;
	margin-right: 10px;
}

.descricao-avatar {
	display: inline-block;
	padding: 0 10px;
	width: calc(100% - 80px);
}

.descricao-avatar h3 {
	color: var(--preto);
	font-weight: normal;
	font-style: italic;
}

.descricao-avatar p {
	color: var(--preto);
	font-weight: lighter;
}

section.inscricao {
	background: var(--azul);
	padding: 20px 0;
}

h2.inscricao-texto {
	font-weight: normal;
	color: white;
}

.inscricao-form input[type=text]{
	width: calc(100% - 120px);
	height: 40px;
	background: white;
	border: 1px solid #ccc;
	display: inline-block;
}

.inscricao-form input[type=submit]{
	width: 120px;
	height: 40px;
	background: #1d6c64;
	cursor: pointer;
	display: inline-block;
	border: 0;
	color: white;
	font-size: 15px;
	font-weight: 600;
}

section.cards {
	padding: 30px 0;
}

.cards-single {
	width: 33.3%;
	float: left;
	padding: 50px;
}

.cards-single img {
	width: 100%;
}

.cards-single h3 {
	margin-top: 5px;
	font-weight: normal;
	font-size: 19px;
}

.cards-single p {
	margin: 10px 0;
	font-weight: lighter;
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
}

footer.footer1 {
	background: var(--azul);
	padding: 20px 0;
	color: white;
}

footer.footer1 h2 {
	font-weight: normal;
	font-size: 23px;
}

footer.footer1 p {
	margin-top: 8px;
	font-weight: lighter;
	font-size: 15px;
}

footer.footer1 a {
	margin-top: 8px;
	display: block;
	color: white;
}

div.group-icons a{
	font-size: 18px;
	display: inline-block;
	margin: 15 10px;
	padding: 0 10px;
}

footer.footer2 {
	padding: 15px 0;
	background: #237a70;
	text-align: center;
	color: white;
}

/*Pagina Sobre*/

section.title-page {
	padding: 30px;
	width: 100%;
	min-height: 150px;
	background-image: url(../images/img3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

section.title-page h2 {
	color: #44D4C5;
	font-size: 35px;
	font-weight: normal;
}

section.title-page p {
	font-weight: lighter;
	font-size: 16px;
	margin-top: 10px;
}

section.title-page .container {
	position: relative;
	z-index: 101;
	color: white;
}

.overlay__title-page {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

/*sobre container*/

section.sobre__noticia {
	padding: 30px 0;
}

.sobre__single__noticia img {
	max-width: 100%;
	float: left;
	width: 50%;
}

.sobre__single__noticia p {
	padding: 10px 15px;
	font-size: 16px;
	font-weight: lighter;
	float: left;
	width: 50%;
}

/*Parallax*/

section.parallax {
	padding: 30px 0;
	width: 100%;
	min-height: 200px;
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}

section.parallax h2.chamada-parallax {
	border: 2px solid #44D4C5;
	padding: 5px 25px;
	color: #44D4C5;
	font-size: 18px;
	display: inline-block;
}

section.parallax p {
	margin-top: 10px;
	color: white;
}

section.equipe {
	padding: 40px 0;
}

.equipe-circles {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.equipe-circle-single {
	text-align: center;
	padding: 0 20px;
	width: 33.3%;
}

.equipe-circle-single h3 {
	margin-top: 8px;
	font-size: 18px;
	font-weight: normal;
}

.equipe-circle-single p {
	font-weight: lighter;
}

.avatar-single {
	position: relative;
	width: 60%;
	padding-top: 60%;
	margin: 0 auto;
}

.avatar-single-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background: #ccc;
	background-size: cover;
	background-position-y: -15px;
}

section.sobre__final {
	background: rgb(225, 225, 225, 1.0);
	border-top: 2px solid rgb(210, 210, 210, 1.0);
	padding: 20px 0;
}

section.sobre__final p {
	font-weight: lighter;
	font-size: 16px;
	margin-top: 10px;
}

.card-text {
	margin-top: 10px;
	width: 85%;
	position: relative;
}

.card-text img {
	max-width: 100%;
}

.card-text h3 {
	position: absolute;
	right: 10px;
	bottom: 12px;
	color: white;
	font-size: 25px;
	font-weight: lighter;
}

section.contato {
	padding: 30px 0;
}

section.contato .w50 {
	padding-right: 10px;
}

section.contato .w50,
section.contato .w100 {
	padding: 0 10px;
}

.formulario form {
	margin-top: 10px;
}

.formulario h2 {
	background: #DDDDDD;
	text-align: center;
	color: #ACAC9D;
	font-weight: normal;
	font-size: 18px;
	border-left: 5px solid #ccc;
}

.formulario input[type=text],
.formulario input[type=email] {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left: 8px;
}

.formulario textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 10x;
	resize: vertical;
}

.tags-form {
	padding-left: 50px;
}

.tags-form h2 {
	font-weight: normal;
}

.tags-form p {
	font-weight: lighter;
}

.tags-form p.tag-contato {
	color: white;
	background: #249B8F;
	text-align: center;
	margin-top: 8px;
	padding: 8px 4px;
}

@media screen and (max-width: 768px) {

	.w50,.w33,.w60,.w40,.w100 {width: 100%; margin-bottom: 20px;}

	.box-icone-single {
		width: 100%;
	}

	.equipe-container {
		width: 100%;
	}

	.sobre-container {
		padding-top: 30px;
		width: 100%;
	}

	.cards-single {
		width: 100%;
	}

	footer.footer1 {
		text-align: center;
	}

	.sobre__single__noticia img {
		width: 100%;
	}

	.sobre__single__noticia p {
		margin-top: 10px;
		width: 100%;
		padding: 0;
	}

	.equipe-circle-single {
		text-align: center;
		padding: 0 20px;
		width: 50%;
		margin-bottom: 20px;
	}

	.formulario input[type=text],
	.formulario input[type=email] {
		margin-bottom: 0px;
	}

	.formulario textarea {
		margin-bottom: 0px;
	}

	.tags-form {
		padding-left: 0px;
	}

}

@media screen and (max-width: 500px) {

	nav.menu-desktop {display: none;}

	nav.menu-mobile {display: block;}

	.cards-single {
		padding: 10px;
	}

	.equipe-circle-single {
		text-align: center;
		padding: 0 20px;
		width: 100%;
		margin-bottom: 20px;
	}

}